PORT=3008
EC_CLIENT_ID=
EC_CLIENT_SECRET=
EC_AUTHORIZE_URL=https://iwx.workec.com/connect/oauth2/authorize
EC_TOKEN_URL=https://iwx.workec.com/connect/oauth2/token
EC_USERINFO_URL=https://iwx.workec.com/connect/oauth2/get_user_info
EC_REDIRECT_URI=https://your-domain.example.com/eclogindemo/auth/callback
