PORT=__SUBPROJECT_PORT__
AUTH_PLATFORM_BASE_URL=__AUTH_PLATFORM_BASE_URL__
PROJECT_KEY=__PROJECT_KEY__
PROJECT_TOKEN_SECRET=change_me_to_a_long_random_secret
SUBPROJECT_CALLBACK_URL=__SUBPROJECT_CALLBACK_URL__